.filtres {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 8px;
  margin-bottom: 40px;

  @include tablet {
    flex-wrap: nowrap;
    justify-content: center;
    gap: 8px;
    margin-bottom: 30px;
  }
  @include desktop {
    margin-bottom: 50px;
  }
}

// @include desktop {
//   .filtres__type {
//     margin-right: 8px;
//     &:last-child {
//       margin-right: 0;
//     }
//   }
// }
