.logo {
  color: $primary-logo-color;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-weight: 700;

  display: block;

  &--title {
    color: $accent-color;
  }
  @media screen and (min-width: 480px) {
    font-size: 24px;
    line-height: 1.17;
    // margin-right: 276px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  @include tablet {
    font-size: 24px;
    line-height: 1.19;
    margin-right: 88px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

@include tablet {
  .logo {
    margin-right: 0;
  }
}
