.team {
  background-color: $secondary-white-color;
}

.team__headline {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0;
  padding: 0;
  margin-bottom: 30px;
  @include desktop {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.team__teammates {
  width: 100%;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.team__cards {
  // margin-right: 30px;
  background-color: $primary-white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 100%;
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;

  @include tablet {
    width: calc((100% - 30px) / 2);
  }
  @include desktop {
    width: calc((100% - 90px) / 4);
  }
  // &:last-child {
  //   margin-right: 0;
  // }
}

.team__info {
  display: block;
  padding: 30px 0;
}

.team__name {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
}

.team__position {
  color: $secondary-text-color;
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin: 0;
  margin-bottom: 16px;
}

.social-bar {
  display: flex;
  justify-content: center;
  justify-items: center;
  /* max-width: 206px; */
}

.social-bar__link {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.social-bar__item {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  border-radius: 50%;
  fill: $primary-icon-color;
  transition: fill $animation-timimg $animation-function,
    background-color $animation-timimg $animation-function;

  &:hover,
  &:focus {
    background-color: $accent-color;
    fill: $butons-text-color;
  }
}
